@model BoardGameCompanyMVC.Models.Brand
@{
    ViewData["Title"] = "Delete Brand";
}


<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-danger">Delete Brand</h2>

    </div>
</div>
<br />

<h3 class="text-danger">Are you sure you want to delete?</h3>
<br />

<div>
    <h4>Brand</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

</div>
