@model BoardGameCompanyMVC.Models.Brand
@{
    ViewData["Title"] = "Details";
    var brandBoardGameCount = Model.BoardGames.Count();
}

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Details Brand</h2>
    </div>
</div>
<br />

<div class="border container" style="padding:30px;">
    <dl class="row">
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class="col-3">
            Board Games
        </dt>
        <dd class="col-9">
            @brandBoardGameCount
        </dd>
    </dl>
    <div class="form-group row">
        <div class="col-3 offset-3">
            <a asp-action="Edit" asp-route-id="@Model.ID" type="button" class="btn btn-primary form-control">
                Edit
            </a>
        </div>
        <div class="col-3">
            <a asp-action="Index" type="button" class="btn btn-success form-control">
                Back To List
            </a>
        </div>
    </div>
</div>


